body {
  background-color: #444;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace; 
  font-weight: 300;
  font-size: 1rem;

  background: linear-gradient(to top, #0f0c29, #302b63, #24243e);
}

h1, h2 {
  font-weight: 300;
}